/* page 404 */

/*****
* Styles page 404
*/
.page-template-404 {
    display: block;
    text-align: center;

    h2 {
        color: $fontcolrtitle;
        position: fixed;
        align-items: center;
    }

    .error404 {
        background-size: cover;
        // background-position: center center no-repeat no-repeat;
        height: 100vw;

        .title-error {
            display: inline-flex;
            justify-content: center;
        }
    }
}