@font-face {
    font-family: 'Great Vibes';
    src: url('assets/fonts/Great_Vibes/GreatVibes-Regular.eot');
    src: url('assets/fonts/Great_Vibes/GreatVibes-Regular.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Great_Vibes/GreatVibes-Regular.svg#GreatVibes-Regular') format('svg'),
        url('assets/fonts/Great_Vibes/GreatVibes-Regular.ttf') format('truetype'),
        url('assets/fonts/Great_Vibes/GreatVibes-Regular.woff') format('woff'),
        url('assets/fonts/Great_Vibes/GreatVibes-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
       
}
@font-face {
    font-family: 'Dancing Script';
    src: url('assets/fonts/DancingScript/DancingScript-VariableFont_wght.eot');
    src: url('assets/fonts/DancingScript/DancingScript-VariableFont_wght.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/DancingScript/DancingScript-VariableFont_wght.svg#DancingScript-VariableFont_wght') format('svg'),
        url('assets/fonts/DancingScript/DancingScript-VariableFont_wght.ttf') format('truetype'),
        url('assets/fonts/DancingScript/DancingScript-VariableFont_wght.woff') format('woff'),
        url('assets/fonts/DancingScript/DancingScript-VariableFont_wght.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
       
}
@font-face {
    font-family: 'Bonheur Royale';
    src: url('assets/fonts/Bonheur_Royale/BonheurRoyale-Regular.eot');
    src: url('assets/fonts/Bonheur_Royale/BonheurRoyale-Regular.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Bonheur_Royale/BonheurRoyale-Regular.svg#BonheurRoyale-Regular') format('svg'),
        url('assets/fonts/Bonheur_Royale/BonheurRoyale-Regular.ttf') format('truetype'),
        url('assets/fonts/Bonheur_Royale/BonheurRoyale-Regular.woff') format('woff'),
        url('assets/fonts/Bonheur_Royale/BonheurRoyale-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Tillana';
    src: url('assets/fonts/Tillana/Tillana-Regular.eot');
    src: url('assets/fonts/Tillana/Tillana-Regular.eot?#iefix') format('embedded-opentype'),
      url('assets/fonts/Tillana/Tillana-Regular.svg#Tillana-Regular') format('svg'),
      url('assets/fonts/Tillana/Tillana-Regular.ttf') format('truetype'),
      url('assets/fonts/Tillana/Tillana-Regular.woff') format('woff'),
      url('assets/fonts/Tillana/Tillana-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    
  }
  @font-face {
    font-family: 'Tillana-Medium';
    src: url('assets/fonts/Tillana/Tillana-medium.eot');
    src: url('assets/fonts/Tillana/Tillana-medium.eot?#iefix') format('embedded-opentype'),
      url('assets/fonts/Tillana/Tillana-medium.svg#Tillana-medium') format('svg'),
      url('assets/fonts/Tillana/Tillana-medium.ttf') format('truetype'),
      url('assets/fonts/Tillana/Tillana-medium.woff') format('woff'),
      url('assets/fonts/Tillana/Tillana-medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    
  }
  @font-face {
    font-family: 'Tillana-Bold';
    src: url('assets/fonts/Tillana/Tillana-Bold.eot');
    src: url('assets/fonts/Tillana/Tillana-Bold.eot?#iefix') format('embedded-opentype'),
      url('assets/fonts/Tillana/Tillana-Bold.svg#Tillana-Bold') format('svg'),
      url('assets/fonts/Tillana/Tillana-Bold.ttf') format('truetype'),
      url('assets/fonts/Tillana/Tillana-Bold.woff') format('woff'),
      url('assets/fonts/Tillana/Tillana-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    
  }
  @font-face {
    font-family: 'Tillana-SemiBold';
    src: url('assets/fonts/Tillana/Tillana-SemiBold.eot');
    src: url('assets/fonts/Tillana/Tillana-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('assets/fonts/Tillana/Tillana-SemiBold.svg#Tillana-SemiBold') format('svg'),
      url('assets/fonts/Tillana/Tillana-SemiBold.ttf') format('truetype'),
      url('assets/fonts/Tillana/Tillana-SemiBold.woff') format('woff'),
      url('assets/fonts/Tillana/Tillana-SemiBold.woff2') format('woff2');
      font-style: normal;
      font-weight: 600;
    
  }
  @font-face {
    font-family: 'Tillana-ExtraBold';
    src: url('assets/fonts/Tillana/Tillana-ExtraBold.eot');
    src: url('assets/fonts/Tillana/Tillana-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('assets/fonts/Tillana/Tillana-ExtraBold.svg#Tillana-ExtraBold') format('svg'),
      url('assets/fonts/Tillana/Tillana-ExtraBold.ttf') format('truetype'),
      url('assets/fonts/Tillana/Tillana-ExtraBold.woff') format('woff'),
      url('assets/fonts/Tillana/Tillana-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    
  }