/*****
tout le responsive du site 

****/
/****

Variables breakpoints

**/

// 
$phone: 576px;

//tablet portrait
$tablet_m: 768px;

// tablet
$tablet: 992px;

// desktop

$desktop: 1200px;

//desktop plus
$desktop_p: 1440px;


/*** 
mixin breakpoint
*/
@mixin phone {
    @media screen and (max-width: #{phone}) {
        @content;
    }
}



@mixin tablet_m {
    @media screen and (max-width: #{$tablet_m}) {
        @content;
    }
}


// fait le 23/01/2024
@mixin tablet {
    @media screen and (max-width: #{$tablet}) {
        @content;
    }
}



@mixin desktop {
    @media screen and (max-width: #{$desktop}) {
        @content;
    }
}



@mixin desktop_p {
    @media screen and (max-width: #{$desktop_p}) {
        @content;
    }
}



/***
*Début responsive du site

***/


// responsive Accueil 

@include tablet() {

    .page-template-front-page,
    .page-template, .single,
    .archive, 
    .blog {
        .Nvh-nav-menu {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap!important;
            align-content: flex-start;
            justify-content: space-between!important;
            align-items: center;

            .nav_logo {
                width: 190px;
                height: 135px;

                .logo-img-header {
                    width: 190px;
                    position: relative;

                }
            }

            /// icon burger avec animation
            .Nvh-menu-icon {
                position: relative;
                margin-left: 20px;
                margin-right: 20px;
                border: none;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;
                background-color: $menu-icon-bg;
                width: 54px;
                height: 54px;
                border-radius: 50%;
                transition: transform $tempo-icon;
                //transform-origin: center center;

                .Nvh-respon-icon1 {
                    width: 22px;
                    height: 2px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    display: block;
                    border-radius: 5px;
                    transition: background $tempo-bg-icon, transform $tempo-icon;
                    background-color: $menu-icon-color;
                    transform: translateX(-50%) translateY(-50%);
                    //transform-origin: center center;

                    &::before,
                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        background-color: $menu-icon-color;
                        display: block;
                        border-radius: 5px;
                        width: 22px;
                        height: 2px;
                        //transform-origin: center center;
                        transform: translateY(-6px);
                    }

                    &::after {
                        transform: translateY(6px);
                    }

                }

                &:hover {
                    span::before {
                        transform: translateY(-8px);
                    }

                    span::after {
                        transform: translateY(8px);
                    }
                }

                &.Nvh-opened {
                    transform: rotate(180deg);

                    //transform-origin: center center;
                    span {
                        background: transparent;
                        //transform-origin: center center;
                    }

                    span::before {
                        transform: translateY(0) rotate(45deg);
                    }

                    span::after {
                        transform: translateY(0) rotate(-45deg);
                    }
                }

            }

            //fin icon burger avec animation
            .collapse.Nvh-collapse {
                position: relative;
                padding: 0;
                opacity: 0;
                font-size: small;
                margin: 0;
                transition: opacity 0.5s ease-in-out, transform 0.8s ease-in-out;
                transform: translateY(-250px);
                box-shadow: 0px 7px 20px black;
                //transition-duration: 0.7s;

                .Nvh-primary-nav {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-content: center;
                    justify-content: center;
                    align-items: flex-start;
                    margin: 0;
                    padding: 1rem 0 1rem 0;
                    
                    .Nvh-submenu-ul .Nvh-submenu-li{
                        font-size: large;
                        //position: static;
                        background-color: white;
                        z-index: 15;
                    }
                }
            }

        }
        //Nvh-nav-menu
        h1 {
            font-size: xxx-large;
        }
        h2, h3 {
            font-size: xx-large ;
        }
    }

    .top-menu {
        .collapse.Nvh-collapse {
            position: relative;
            opacity: 1 !important;
            line-height: normal;
            transform: translateY(0) !important;
            background-color: lavender;

            // width: 100vw;
            .Nvh-primary-nav {
                display: inline-flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-content: center;
                justify-content: center;
                align-items: center;
                width: max-content;
                line-height: 65px;
                font-size: xx-large;
                .Nvh-nav-li:nth-child(-n + 6) {
                    margin-right: 0.8rem!important;
                    padding-right: 10px;
                    border-right: 2px solid rgb(251, 251, 251);
                }
            }
        }
    }//animation navbar avec le burger
    // page d'accueil 
    .home {
        .Nvh-cadre {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            align-items: center;
            margin-bottom: 0;
            .Nvh-col-prez-img {
                width: 100%;
                display: contents;
            }
            .Nvh-col-prez-text {
                width: 100%;
            }
           
        }
        .Nvh-filter {
            padding-top: 0!important;
        }
        
    }
    .page-template-page-qui-suis-je{
        .Nvh-col-qsjz-text {
            width: 100%;
        }
        .Nvh-qsj-ambiance {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
            align-content: center;
            .Nvh-text-qsj-ambiance, .Nvh-qsj-ethique{
                width: auto;
                margin-bottom: 1rem;
            }
        }
    }
    // page coté coiffure
    .blog {
        .Nvh-single-text {
            box-sizing: content-box;
            width: auto!important;
        }
        .Nvh-partner-content {
            display: flex ;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center!important;
            align-items: center;
        }
    }
    // page microscopie capillaire
    .page-template-page-capillaire {
        .Nvh-ttt-Capillaire {
            width: 700px!important;
            height: 700px!important;
            
        }
        .Nvh-ttt-capillaire3, .Nvh-ttt-capillaire2 {
            width: 750px!important;
            height: 750px!important;
        }
    }
    // page coté massages
   .page-template-page-cote-massage {
        .Nvh-ayur-massage {
            width: 100%;
            background-color: transparent;
            .Nvh-type-massage {
                display: flex;
                flex-direction: column !important;
                flex-wrap: nowrap;
                align-content: center;
                justify-content: center;
                align-items: center;
                .Nvh-ayr-texte {
                    width: 100%;
                    margin-bottom: 2rem;
                }
                .Nvh-ayur-image {
                    width: auto ;
                }
            }
       
        }
        .Nvh-ayurvedique {
            .Nvh-ayurlist-descr {
                width: auto !important;
            }
        }
    }
    /*  Single massage */
    .single-ayurvedique {
        .Img-Ayur-single {
            width: 100% !important;
        }
        .Nvh-desc-ayurv-single {
            margin-right: 0 !important;
        }
        .Nvh-ayurvbf {
            margin-left: 0 !important;
            margin-top: 1rem;
        }
        .Nvh-single-ayur-video {
            margin-top: 2rem;
           // margin-bottom: 2rem;
           .Nvh-content-ayur-vide {
             margin-top: 3rem;
           }
        }
    }
    
    /* Single produits par catégorie*/

    .archive,.category-soin-pour-les-cheveux {
        .Nvh-archive-content {
            display: flex;
            flex-direction: column !important;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: center;
            align-items: center;
            .Nvh-single-archive-img {
                margin: 1rem 0 1rem 0 !important;
            }
        }
    }
}
/******* Responsive Tèl***/
@include tablet_m() {
    .Nvh-nav-menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
       //align-content: stretch;
        justify-content: center;
        align-items: center;
        .Nvh-icon-responsive {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center !important;
        }
        .Nvh-collapse {
            position: relative;
            right: 0 !important;
        }
    }
    //page Accueil
    .home {
       
        .Nvh-coiffure-title {
            font-size: 2.5rem;
        }
        .Nvh-col-prez-text {
            width: min-content !important;
        }
        .title-home-filter {
            .title-produits {
                font-size: 1.6rem;
            }
            
        }
        .underlining {
            margin: 0;
        }
        .Nvh-filter {
            position: relative;
            display: contents;
        }
        .Nvh-post-content {
            width: auto;
        }
        .text-home {
            width: 100vw;
            .text-prez {
                .Nvh-textqsj {
                    padding: 0;
                }
            }
        }
    }

    //page qui suis je
    .page-template-page-qui-suis-je {
        .container-fluid {
            --bs-gutter-x:0 !important;
        }
        .Nvh-coiffure-title {
            margin: 1rem;
        }
        .Nvhqsj-text{
            padding: 1rem;
            .Nvh-qsj-img {
                padding-right: 0;
                padding-left: 0;
                
            }
        }
            
    }
    // page tous les produits
    .blog {
        .container-fluid {
            --bs-gutter-x: 0; 
        }
        .Nvh-archive {
            border-radius: 2%;
        }
    }
    // Page coiffure
    .page-template-archive-coiffure {
        .flip-box {
            width: 100vw !important;
            height: 22rem;
            margin: 0 !important;
        }
    }
    // page capillaire
    .page-template-page-capillaire {

        .Nvh-decript-capillaire {
            //font-size: large;
            padding: 0;
            .Nvh-capillaire-texte {
                padding: 0;
                font-size: inherit;
                span {
                    padding: 0 !important;
                    font-size: inherit;
                }

            }
        }
        .Nvh-img-descirpt-capillaire {
            margin: 0 20px !important;
        }
        .Nvh-capillaire-ttt {
            .Nvh-ttt-Capillaire {
                width: 100vw !important;
                margin: 0;
                border-radius: 10px !important;
                box-shadow: none;
                &:before {
                    border-radius: 10px !important;
                }
                p {
                    padding: 1rem;
                }
                
            }
            .Nvh-ttt-capillaire2, .Nvh-ttt-capillaire3{
                display: none !important;
            }
        }
       .Nvh-cure {
            display: block !important;
       }
    }
    .page-template-page-cote-massage {
        .container-fluid {
            --bs-gutter-x: 0 !important;
        }
        
        .Nvh-news {
            width: 100vw;

        }
    }
    .page-template-contact {
        .container-fluid {
            --bs-gutter-x:0 !important;
        }
        .Nvh-contact-hours, .Nvh-contact-conges, .Nvh-contact-info, .Nvh-lunaire{
            width: 100vw;
            img {
                width: 100vw;
            }
               
            
        }
    }
}