/*****
tout le responsive du site 

****/
/****

Variables breakpoints

**/

// 
$phone: 576px;

//tablet portrait
$tablet_m: 768px;

// tablet
$tablet: 992px;

// desktop

$desktop: 1200px;

//desktop plus
$desktop_p: 1440px;


/*** 
mixin breakpoint
*/
@mixin phone {
    @media screen and (max-width: #{phone}) {
        @content;
    }
}



@mixin tablet_m {
    @media screen and (max-width: #{$tablet_m}) {
        @content;
    }
}



@mixin tablet {
    @media screen and (max-width: #{$tablet}) {
        @content;
    }
}



@mixin desktop {
    @media screen and (max-width: #{$desktop}) {
        @content;
    }
}



@mixin desktop_p {
    @media screen and (max-width: #{$desktop_p}) {
        @content;
    }
}



/***
*Début responsive du site

***/


// responsive Accueil 

@include tablet() {

    .page-template-front-page,
    .page-template,
    .blog {
        .Nvh-nav-menu {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: flex-start;
            justify-content: space-between;
            align-items: center;

            .nav_logo {
                width: 190px;
                height: 135px;

                .logo-img-header {
                    width: 190px;
                    position: relative;

                }
            }

            /// icon burger avec animation
            .Nvh-menu-icon {
                position: relative;
                margin-left: 20px;
                margin-right: 20px;
                border: none;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;
                background-color: $menu-icon-bg;
                width: 54px;
                height: 54px;
                border-radius: 50%;
                transition: transform $tempo-icon;
                //transform-origin: center center;

                .Nvh-respon-icon1 {
                    width: 22px;
                    height: 2px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    display: block;
                    border-radius: 5px;
                    transition: background $tempo-bg-icon, transform $tempo-icon;
                    background-color: $menu-icon-color;
                    transform: translateX(-50%) translateY(-50%);
                    //transform-origin: center center;

                    &::before,
                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        background-color: $menu-icon-color;
                        display: block;
                        border-radius: 5px;
                        width: 22px;
                        height: 2px;
                        //transform-origin: center center;
                        transform: translateY(-6px);
                    }

                    &::after {
                        transform: translateY(6px);
                    }

                }

                &:hover {
                    span::before {
                        transform: translateY(-8px);
                    }

                    span::after {
                        transform: translateY(8px);
                    }
                }

                &.Nvh-opened {
                    transform: rotate(180deg);

                    //transform-origin: center center;
                    span {
                        background: transparent;
                        //transform-origin: center center;
                    }

                    span::before {
                        transform: translateY(0) rotate(45deg);
                    }

                    span::after {
                        transform: translateY(0) rotate(-45deg);
                    }
                }

            }

            //fin icon burger avec animation
            .collapse.Nvh-collapse {
                position: relative;
                padding: 0;
                opacity: 0;
                font-size: small;
                margin: 0;
                transition: opacity 0.5s ease-in-out, transform 0.8s ease-in-out;
                transform: translateY(-250px);
                box-shadow: 0px 7px 20px black;
                //transition-duration: 0.7s;

                .Nvh-primary-nav {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-content: center;
                    justify-content: center;
                    align-items: flex-start;
                    margin: 0;
                    padding: 1rem 0 1rem 0;
                    
                    .Nvh-submenu-ul .Nvh-submenu-li{
                        font-size: large;
                        //position: static;
                        background-color: white;
                        z-index: 15;
                    }
                }
            }

        }
        //Nvh-nav-menu
        h1 {
            font-size: xxx-large;
        }
        h2, h3 {
            font-size: xx-large ;
        }
    }

    .top-menu {
        .collapse.Nvh-collapse {
            position: relative;
            opacity: 1 !important;
            line-height: normal;
            transform: translateY(0) !important;
            background-color: lavender;

            // width: 100vw;
            .Nvh-primary-nav {
                display: inline-flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-content: center;
                justify-content: center;
                align-items: center;
                width: max-content;
                line-height: 65px;
                font-size: xx-large;
                .Nvh-nav-li:nth-child(-n + 6) {
                    margin-right: 0.8rem!important;
                    padding-right: 10px;
                    border-right: 2px solid rgb(13, 210, 200);
                }
            }
        }
    }//animation navbar avec le burger
   
}
.home {
    .Nvh-cadre {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        .Nvh-col-prez-img {
            width: 100%;
            display: contents;
        }
        .Nvh-col-prez-text {
            width: 100%;
        }
       
    }
    .Nvh-filter {
        padding-top: 0!important;
    }
    
}
.page-template-page-qui-suis-je{
    .Nvh-col-qsjz-text {
        width: 100%;
    }
}
